
body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color: LightGoldenRodYellow ;
	margin: 0;
	padding: 0;
}

h1{
    color: #FF6600;
	text-align: center;
}
h2 {
	color: black;
}

h2.homeText{
	font-size:125%;
}

h2#sectionNo{
	font-size: 150%;
}

div{
	color: white;
	background-color: darkBlue;
}

div#top{
	text-align: center;
	float: right;
	height: 75px;
	width: 85%;
}

div#sideLogin{
	float: left;
	width: 15%;
	height: 220px;
	text-align:center;
}

div#sideLinks{
	clear:left;
	float:left;
	width: 12%;
	height: 100vh;
	padding-left: 3%;
	padding-top: 5px;
	text-align:left;
	vertical-align:top;
}

div#main{
	color: black;
	text-align:center;
	vertical-align:top;
	float:right;
	width:85%;
	height:100vh;
	background-color: transparent;
}

a#sideLink:link{
	color:white;
	text-decoration:none;
}

a#sideLink:visited{
	color:white;
	text-decoration:none;
}

a#sideLink:hover{
	font-size: 110%;
	color: #FF6600;
}

button, input[type=submit]{
	font-weight: bold;
	background-color: blue;
	color: white;
	border-color: black;
	border:2px solid #456879;
	border-radius:10px;
	margin: 2px;
}

button#delete{
	background-color: red;
}

button.greenButton{
	background-color: darkGreen;
}

button.redButton{
	background-color:red;
}

button.grayButton, input[type=submit].grayButton{
	background-color:lightGray;
	color:black;
}

input[type=text]{
	border:2px solid #456879;
	border-radius:10px;
	height: 22px;
	width: 230px;
	margin: 5px;
	padding: 5px;
}


input[type=text].head{
	width: 350px;
	text-align: center;
}

input[type=text].writeinSample{
	background-color: lightGray;
}

input[type=radio]{
	background-color: #F0F0F0;
}

input.dateTime{
	width: 50px;
}


table
{
margin-left: auto;
margin-right: auto;
}

a.showPreviousElections {
	color: rgb(85, 26, 139);
	text-decoration: underline;
	cursor: pointer;
}
